/* @import" /node_modules/bootstrap/dist/css/bootstrap.css" */
/* label{
    margin-right: 5px;
} */
/* .form{
    margin:auto;
    width:350px;
}
.form-group {
    margin: 10px auto;
}

.action {
    display: flex;
    justify-content: space-between;
} */





